h1{
    text-align:center;
}
.text{
    text-align:center;
    padding-left:150px;
}

#user{
    margin-left:40px;

}

#password{
    margin-left:40px;
}

#button{
    margin-top:0px;
    padding-left:420px;
}